/* Footer.css */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.copyRightArea {
    display: flex;
    justify-content: center;
    white-space: pre-wrap;
}

.foot_container {
    width: 80%;
    max-width: 1200px;
    white-space: pre-wrap;
}

.text-center {
    text-align: center;
    white-space: pre-wrap;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
