.upper_section{

    height: 100%;
    margin-top: 50%;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    position:relative;
    background-color: blueviolet;
}
.segmented_section{

    height: 50px;
    width:500px;
    background-color:  yellowgreen  ;
    display: flex;
    justify-content: space-evenly;
}

.segmented_buttons{

    background-color: deeppink;
    width: 30%;
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

#sb1:hover{ background-color: orange; }
#sb2:hover{ background-color: white; }
#sb3:hover{ background-color: green; }

#sb1:active{ background-color: orange; }
#sb2:active{ background-color: white; }
#sb3:active{ background-color: green; }